@use "colors";
@use "typo";

footer {
    padding: 10px 40px;
    background-color: colors.$button-primary;
    color: white;
}

footer p {
    font-size: 1rem;
}

@media only screen and (min-width: 992px) {
footer {
    padding: 50px 20rem;
}
footer p {
    font-size: 1.2rem;
}
}