@use "typo";
@use "colors";

.navbar a {
  text-decoration: none;
  font-size: 1.7rem;
  font-weight: 400;
  color: colors.$color-paragraph;
}

.navbar a:hover {
  opacity: 0.5;
}

.navbar li {
  list-style-type: none;
}



.menu-links {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header {
  position: relative;
  padding: 1rem 2rem;
}