@use "typo";
@use "colors";


.quote {

    letter-spacing: .03em;
    
    &:before {
        content: "“";
        position: absolute;
        left: -.7em;
    }
    
    &:after {
        content: "”";
        margin-right: -1rem;
    }
}

.quote--container {
    margin: 2.5rem auto 0;
    width: 17em;
    border-bottom: 2px dotted colors.$button-primary;
    padding-bottom: .5rem;
}


.quote--author {
    font-size: .8rem;
    text-align: right;
    font-weight: 300;
}