@use "colors";

body {
    font-family: 'Nunito Sans', sans-serif;
    color: colors.$color-paragraph;
    line-height: 1.5;
}

h1, h2, h3 {
    color: colors.$button-primary;
    margin: 0;
}

h2 {
    text-align: center;
    font-size: 2rem;
}

.hero p, h1 {
    text-align: center;
}

p {
    text-align: left;
    font-size: 1.2rem;
}

.hero h1 {
    font-size: 2.4rem;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px #000000;
    font-weight: 700;
}

.hero p {
    color: aliceblue;
    text-shadow: 2px 2px 4px #000000;
    font-weight: 700;
    font-size: 1.5rem;
}

li {
    font-size: 1.1rem;
}

a {
    text-decoration: none;
    opacity:1;
    transition: 200ms;
    color: colors.$button-primary;
  }
  a:hover {
    opacity:0.5;
  }

  @media only screen and (min-width: 992px) {
    .hero h1 {
        font-size: 6rem;
        color: rgb(255, 255, 255);
        text-shadow: 2px 2px 4px #000000;
        font-weight: 700;
    }
    
    .hero p {
        color: aliceblue;
        text-shadow: 2px 2px 4px #000000;
        font-weight: 700;
        font-size: 4rem;
    }

    p, li {
        font-size: 1.7rem;
    }

    h2 {
        font-size: 3rem;
    }
  }