@use "colors";
@use "typo";

.icon {
    height: 40px;
    margin: 0 20px 0 20px;
    padding: 10px 0;
}

.icon-text {
    display: flex;
    justify-content: center;
}

.products p {
    font-size: 1.2rem;
}

.products {
    margin-left: -25px;
}

@media only screen and (min-width: 992px) {
    .products p {
        font-size: 1.9rem;
    }

    .icons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
}

.icon-text {
    align-items: center;
}
.products {
    padding: 80px 15rem 20px 15rem;
}
}