@use "colors";
@use "typo";

.icon {
    height: 40px;
    margin: 0 20px 0 20px;
    padding: 10px 0;
}

.icon-text {
    display: flex;
    justify-content: center;
}

.products p {
    font-size: 1.2rem;
}

.products {
    margin-left: -25px;
}