@use "colors";
@use "typo";
@use "nav";
@use "footer";
@use "button";
@use "contact";
@use "images";
@use "products";
@use "testimonial";



body {
    margin: 0;
    padding: 0;
}

section {
    padding: 40px 40px;
}

