
<nav role="navigation">
    <div id="menuToggle">
        <input type="checkbox" />
            <span></span>
            <span></span>
            <span></span>
            <ul id="menu">
              <li><a href="#">Služby</a></li>
              <li><a href="#">Portfolio</a></li>
              <li><a href="#">Reference</a></li>
              <li><a href="#">O mně</a></li>
              <li><a href="#">Kontakt</a></li>
            </ul>
    </div>
</nav>