<header>
  <div class="navbar">
    <ul class="menu-links">
      <li><a href="#">Služby</a></li>
      <li><a href="#">Portfolio</a></li>
      <li><a href="#">Reference</a></li>
      <li><a href="#">O mně</a></li>
      <li><a href="#">Kontakt</a></li>
    </ul>
    <div class="toggle_btn">
      <i class="fa-solid fa-bars"></i>
    </div>
  </div>
</header>